.tags {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 80px; /* distância do conteúdo pessoal para as tags */
  flex-wrap: wrap;
  justify-content: center;
  perspective: 40rem;
}

.tag {
  display: flex;
  align-items: center;
  background: #232532;
  color: #dadada;
  font-family: var(--font-maven);
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 28px;
  padding: 8px 16px;
  gap: 1.5px;
  transition: background 0.2s, box-shadow 0.2s;
  box-shadow: 0 1px 6px rgba(0,0,0,0.18);

  transition: transform 0.2s cubic-bezier(.36,2,.6,.2), box-shadow 0.2s;
  will-change: transform;
}

.tag:hover {
  transform: translateY(-0.6rem) scale(1.07) rotateX(8deg);
  box-shadow: 0 0.6rem 2rem rgba(9, 116, 39, 0.14);
  z-index: 2;
}

.tag img {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}